@namespace Demo

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(Demo.MainLayout)" />
    </Found>
    <NotFound>
        <PageTitle>@((Text.Error.Translate()))</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">@((Text.Error.Translate()))</p>
        </LayoutView>
    </NotFound>
</Router>
